<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="/img/styles/producto.css">
    <style>
        .container.p-4 {
            padding: 2rem !important; 
            margin: 0 auto !important; 
            max-width: 100%; 
        }
        
        .card {
            margin: 0 auto; 
            max-width: 400px; 
        }
    </style>
</head>

<div class="container p-4">
    <div class="row" style="position: relative;">

        <span class="text" tabindex="0" data-placement="top" title="Volver" style="display: inline-block">
            <a class="btn btn-outline-success" href="/producto">
                <span class="icon text-dark-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text"></span>
            </a>
        </span>

        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body shadow-lg">
                    <h3 style="text-align: center;">Agregar Producto</h3>
                    <br>
                    <form id="productoForm" action="/producto/add" method="POST">
                        <div class="form-group">
                            <h6 style="text-align: left;">Código de barras*</h6>
                            <span id="nombreMensaje"></span>
                            <input type="text" name="nombre" id="nombre" class="form-control" maxlength="45"
                                autofocus required>
                        </div>
                        <div class="form-group">
                            <h6 style="text-align: left;">Nombre*</h6>
                            <span id="nombreMensaje"></span>
                            <input type="text" name="nombre" id="nombre" class="form-control" maxlength="45"
                                autofocus required>
                        </div>
                        <div class="form-group">
                            <h6 style="text-align: left;">Precio*</h6>
                            <input type="number" name="precio" class="form-control" min="1"
                           onkeypress="return (event.keyCode >= 48 && event.keyCode <= 57)" maxlength="7" required>
                        </div>
                        <div class="form-group">
                            <h6 style="text-align: left;">Peso gr*</h6>
                            <input type="number" name="peso" class="form-control" min="1"
                           onkeypress="return (event.keyCode >= 48 && event.keyCode <= 57)" maxlength="7" required>
                        </div>
                        <div class="form-group">
                            <h6 style="text-align: left;">Cantidad*</h6>
                            <input type="number" name="cantidad" class="form-control" min="1"
                           onkeypress="return (event.keyCode >= 48 && event.keyCode <= 57)" maxlength="11" required>
                        </div>
                        <div class="form-group">
                            <button id="guardarBtn" class="btn btn-success btn-block" disabled>
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    async function validarNombre() {
        const nombre = document.getElementById('nombre').value;

        // Si el campo está vacío, no se muestra ningún mensaje
        if (!nombre.trim()) {
            document.getElementById('nombreMensaje').innerText = '';
            return;
        }

        // Realiza una solicitud AJAX al servidor para verificar el nombre
        const response = await fetch('/producto/validarNombre', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ nombre })
        });

        const data = await response.json();

        // Muestra el mensaje de validación junto al campo de nombre
        const nombreMensaje = document.getElementById('nombreMensaje');
        if (data.existe) {
            nombreMensaje.innerText = 'Nombre no disponible';
            nombreMensaje.style.color = 'red';
        } else {
            nombreMensaje.innerText = 'Nombre disponible';
            nombreMensaje.style.color = 'green';
        }

        habilitarODeshabilitarBotonGuardar();
    }

    // Tener en cuenta que si el mensaje que se cambie, en estos momentos el vas bien, se debe actualizar en todas partes como en la linea 94,125,132 y 133
    function habilitarODeshabilitarBotonGuardar() {
        const nombreValido = document.getElementById('nombreMensaje').innerText === 'Nombre disponible';
        document.getElementById('guardarBtn').disabled = !(nombreValido);
    }

    // Llama a las funciones de validación al cargar la página
    window.onload = function () {
        // Agrega eventos de input a los campos de nombre y NIT
        document.getElementById('nombre').addEventListener('input', validarNombre);
    };
</script>