<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Bienvenida</title>
  <link rel="stylesheet" href="/img/styles/bienvenida.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .welcome-container {
      padding: 50px 0;
      text-align: center;
    }
    .welcome-title {
      margin-bottom: 30px;
    }
    body{
      background-color: rgb(195, 223, 216);
    }
  </style>
</head>
<body>
  <div class="container welcome-container">
    <h1 class="welcome-title">Bienvenido a Reportes Regulatorios Prazer</h1>
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Productos</h5>
            <p class="card-text">Administra los productos y tu inventario.</p>
            <a href="/producto" class="btn" style="background-color: darkcyan; color: white">Ir a productos</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">Crea, edita y administra tus clientes.</p>
            <a href="/cliente" class="btn" style="background-color: darkcyan; color: white">Ir a clientes</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Facturas</h5>
            <p class="card-text">Crea órdenes de compra de productos para tus clientes.</p>
            <a href="/factura" class="btn" style="background-color: darkcyan; color: white">Ir a facturas</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Reportes</h5>
            <p class="card-text">Conoce el reporte de tus ventas generadas.</p>
            <a href="/reporte" class="btn" style="background-color: darkcyan; color: white">Ir a reportes</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
