<head>
  <link rel="stylesheet" href="img/styles/load.css" />
</head>
<body>
  <div id="contenedor-carga">
    <div id="carga"></div>

  </div>

  <script>
    window.onload = function(){ var contenedor =
    document.getElementById('contenedor-carga'); contenedor.style.visibility =
    'hidden'; contenedor.style.opacity = '0'; }
  </script>
</body>


