<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Cliente</title>
    <link rel="stylesheet" href="/img/styles/cliente.css">
    <style>
        .container.p-4 {
            padding: 2rem !important;
            margin: 0 auto !important;
            max-width: 100%;
        }

        .card {
            margin: 0 auto;
            max-width: 400px;
        }
    </style>
</head>

<body>
    <div class="container p-4">
        <div class="row" style="position: relative;">

            <span class="text" tabindex="0" data-placement="top" title="Volver" style="display: inline-block">
                <a class="btn btn-outline-success" href="/cliente">
                    <span class="icon text-dark-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text"></span>
                </a>
            </span>

            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-body shadow-lg">
                        <h3 style="text-align: center;">Agregar Cliente</h3>
                        <br>
                        <form id="clienteForm" action="/cliente/add" method="POST">
                            <div class="form-group">
                                <h6 style="text-align: left;">NIT*</h6>
                                <span id="idClienteMensaje"></span>
                                <input type="text" name="id_cliente" id="id_cliente" class="form-control"
                                    onkeypress="return (event.keyCode >= 48 && event.keyCode <= 57 || event.keyCode == 45)"
                                    minlength="8" maxlength="11" autofocus required>
                            </div>
                            <div class="form-group">
                                <h6 style="text-align: left;">Nombre*</h6>
                                <span id="nombreMensaje"></span>
                                <input type="text" name="nombre" id="nombre" class="form-control" maxlength="45"
                                    required>
                            </div>

                            <div class="form-group">
                                <h6 style="text-align: left;">Teléfono*</h6>
                                <input type="text" name="telefono" class="form-control"
                                    onkeypress="return (event.keyCode >= 48 && event.keyCode <= 57)" minlength="7"
                                    maxlength="10" required>
                            </div>
                            <div class="form-group">
                                <h6 style="text-align: left;">Dirección*</h6>
                                <input type="text" name="direccion" class="form-control" minlength="10" maxlength="60"
                                    required>
                            </div>
                            <div class="form-group">
                                <button id="guardarBtn" class="btn btn-success btn-block" disabled>
                                    Guardar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        async function validarNombre() {
            const nombre = document.getElementById('nombre').value;

            // Si el campo está vacío, no se muestra ningún mensaje
            if (!nombre.trim()) {
                document.getElementById('nombreMensaje').innerText = '';
                return;
            }

            // Realiza una solicitud AJAX al servidor para verificar el nombre
            const response = await fetch('/cliente/validarNombre', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nombre })
            });

            const data = await response.json();

            // Muestra el mensaje de validación junto al campo de nombre
            const nombreMensaje = document.getElementById('nombreMensaje');
            if (data.existe) {
                nombreMensaje.innerText = 'Nombre no disponible';
                nombreMensaje.style.color = 'red';
            } else {
                nombreMensaje.innerText = 'Nombre disponible';
                nombreMensaje.style.color = 'green';
            }

            habilitarODeshabilitarBotonGuardar();
        }

        async function validarIdCliente() {
            const id_cliente = document.getElementById('id_cliente').value;

            // Si el campo está vacío, no se muestra ningún mensaje
            if (!id_cliente.trim()) {
                document.getElementById('idClienteMensaje').innerText = '';
                return;
            }

            // Realiza una solicitud AJAX al servidor para verificar el NIT
            const response = await fetch('/cliente/validarIdCliente', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id_cliente })
            });

            const data = await response.json();
            // Realizar ajuste de los mensajes
            // Muestra el mensaje de validación junto al campo de NIT
            const idClienteMensaje = document.getElementById('idClienteMensaje');
            if (data.existe) {
                idClienteMensaje.innerText = 'NIT no disponible';
                idClienteMensaje.style.color = 'red';
            } else {
                idClienteMensaje.innerText = 'NIT disponible';
                idClienteMensaje.style.color = 'green';
            }

            habilitarODeshabilitarBotonGuardar();
        }
        // Tener en cuenta que si el mensaje que se cambie, en estos momentos el vas bien, se debe actualizar en todas partes como en la linea 94,125,132 y 133
        function habilitarODeshabilitarBotonGuardar() {
            const nombreValido = document.getElementById('nombreMensaje').innerText === 'Nombre disponible';
            const nitValido = document.getElementById('idClienteMensaje').innerText === 'NIT disponible';
            document.getElementById('guardarBtn').disabled = !(nombreValido && nitValido);
        }

        // Llama a las funciones de validación al cargar la página
        window.onload = function () {
            // Agrega eventos de input a los campos de nombre y NIT
            document.getElementById('nombre').addEventListener('input', validarNombre);
            document.getElementById('id_cliente').addEventListener('input', validarIdCliente);
        };
    </script>
    <footer>
        <h5>Teléfono</h5>
        <h6>312-695-0222</h6>
        <h5>Dirección</h5>
        <h6>Calle 82 #50A - 48. Santa María, Itagüí</h6>
        <h5>Soporte</h5>
    <h6>312-600-6877</h6>
    <h6>350-468-9979</h6>
    <h6>311-651-5496</h6>
    </footer>
</body>