<head>
  <link rel="stylesheet" href="img/styles/index.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <main class="index">
    <div class="container">
      <div class="carousel-container">
        <div class="card text-center">

          <div class="card-body" style="background-color: white;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block" src="/img/img/producto1.jpg" alt="First slide" />
                </div>
                <div class="carousel-item">
                  <img class="d-block" src="/img/img/producto2.jpg" alt="Second slide" />
                </div>
                <div class="carousel-item">
                  <img class="d-block" src="/img/img/producto3.jpg" alt="Third slide" />
                </div>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="signin">
        <div class="card text-center">

          <div class="card-body" style="background-color: white;">
            <h3>Reportes Regulatorios Prazer</h3>
            <img src="/img/img/prazer.png" alt="Logo" class="card-img-top mx-auto m-2 rounded-circle" />
            <form action="/signin" method="POST">

              <div class="form-group">
                <input type="text" name="username" placeholder="Usuario" class="form-control" autofocus />
              </div>
              <div class="form-group">
                <input type="password" name="password" placeholder="Contraseña" class="form-control" id="password" />
                <span class="toggle-password" onclick="togglePasswordVisibility()">
                  <i class="fa fa-eye-slash"></i>
                </span>
              </div>
              <button class="btn btn-primary btn-block">
                Iniciar Sesión
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
    function togglePasswordVisibility() {
      const passwordInput = document.getElementById('password');
      const toggleButton = document.querySelector('.toggle-password');
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        toggleButton.innerHTML = '<i class="fa fa-eye"></i>';
      } else {
        passwordInput.type = 'password';
        toggleButton.innerHTML = '<i class="fa fa-eye-slash"></i>';
      }
    }
  </script>

</body>