<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informes</title>
    <link rel="stylesheet" href="/img/styles/reporte.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</head>
<body>
    <div class="container p-4">
        <div class="container2 mt-4 p-3 mb-4 bg-body rounded">
            <h3 style="display: inline-block; margin-left: 40%; margin-top:2%">Reporte de ventas</h3>
            <div class="container mt-5">
                <form id="formBuscar">
                    <label for="fecha">Selecciona un rango de fechas:</label>
                    <br>
                    <label>Fecha inicial</label>
                    <label style="margin-left: 4%;">Fecha final</label>
                    <br>
                    <input type="date" id="fechaInicio" name="fechaInicio" max="">
                    <input type="date" id="fechaFin" name="fechaFin" max="">
                    <button style="background-color: darkcyan; padding: 1%; color: white" id="guardarBtn" disabled>Guardar</button>
                </form>
                <br>
                <table id="tablaFacturas" class="table mt-2 table-bordered table-striped">
                    <thead style="background-color: darkcyan; color: white">
                        <tr class="text-center">
                            <th>ID FACTURA</th>
                            <th>CLIENTE</th>
                            <th>FECHA</th>
                            <th>IVA</th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>
                    <tbody id="facturaBody">
                        <!-- Facturas will be injected here by JavaScript -->
                    </tbody>
                    <tfoot>
                        <tr class="text-center">
                            <td colspan="4" style="text-align: right;">
                                <h5>Total</h5>
                            </td>
                            <td id="footerTotal">
                                <h5 id="sumaTotal"></h5>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div id="noFacturasMessage" class="col-md-4 mx-auto" style="display: none;">
                    <div class="card card-body text-center">
                        <p>No hay facturas registradas en este rango de fechas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const fechaInput1 = document.getElementById('fechaInicio');
            const fechaInput2 = document.getElementById('fechaFin');
            const guardarBtn = document.getElementById('guardarBtn');
            const facturaBody = document.getElementById('facturaBody');
            const noFacturasMessage = document.getElementById('noFacturasMessage');
            const sumaTotalElement = document.getElementById('sumaTotal');

            const now = new Date();
            const fechaActual = now.toISOString().split('T')[0]; // Only take the date part (YYYY-MM-DD)

            // Set the max attribute to today's date
            fechaInput1.setAttribute('max', fechaActual);
            fechaInput2.setAttribute('max', fechaActual);

            // Function to check date validity and toggle the button
            function validateDates() {
                const fechaInicio = fechaInput1.value;
                const fechaFin = fechaInput2.value;

                if (fechaInicio && fechaFin) {
                    guardarBtn.disabled = !(fechaInicio <= fechaFin);
                } else {
                    guardarBtn.disabled = true;
                }
            }

            // Add event listeners to both date inputs
            fechaInput1.addEventListener('change', validateDates);
            fechaInput2.addEventListener('change', validateDates);

            // Initial validation check
            validateDates();

            document.getElementById('formBuscar').addEventListener('submit', function (event) {
                event.preventDefault();

                const fechaInicio = fechaInput1.value;
                const fechaFin = fechaInput2.value;

                console.log(`Fecha inicio: ${fechaInicio}`);
                console.log(`Fecha fin: ${fechaFin}`);

                if (fechaInicio && fechaFin && fechaInicio <= fechaFin) {
                    fetchFacturas(fechaInicio, fechaFin);
                } else {
                    console.log('Invalid date range');
                }
            });

            async function fetchFacturas(fechaInicio, fechaFin) {
                try {
                    const response = await fetch(`/reporte/listFacturaReporte/${fechaInicio}/${fechaFin}`);
                    const data = await response.json();
                    console.log('Datos recibidos:', data);

                    const facturas = data.factura || [];
                    console.log('Facturas:', facturas);

                    if (facturas.length > 0) {
                        noFacturasMessage.style.display = 'none';
                        renderFacturas(facturas);
                        updateTotal();
                    } else {
                        noFacturasMessage.style.display = 'block';
                        facturaBody.innerHTML = '';
                        sumaTotalElement.textContent = '0';
                    }
                } catch (error) {
                    console.error('Error fetching facturas:', error);
                    swal('Error', 'No se pudieron cargar las facturas. Inténtalo de nuevo más tarde.', 'error');
                }
            }

            function renderFacturas(facturas) {
                facturaBody.innerHTML = ''; // Clear existing rows
                facturas.forEach(factura => {
                    const row = document.createElement('tr');
                    row.style.textAlign = 'center';

                    const idFacturaCell = document.createElement('td');
                    idFacturaCell.textContent = factura.id_factura;
                    row.appendChild(idFacturaCell);

                    const nombreCell = document.createElement('td');
                    nombreCell.textContent = factura.nombre;
                    row.appendChild(nombreCell);

                    const fechaFacturaCell = document.createElement('td');
                    fechaFacturaCell.textContent = factura.fecha_factura;
                    row.appendChild(fechaFacturaCell);

                    const ivaCell = document.createElement('td');
                    ivaCell.textContent = factura.iva;
                    row.appendChild(ivaCell);

                    const totalCell = document.createElement('td');
                    totalCell.classList.add('total');
                    totalCell.textContent = factura.total;
                    row.appendChild(totalCell);

                    facturaBody.appendChild(row);
                });
            }

            function updateTotal() {
                const totales = document.querySelectorAll('.total');
                let sumaTotal = 0;
                totales.forEach(total => {
                    sumaTotal += parseFloat(total.textContent);
                });
                sumaTotalElement.textContent = sumaTotal.toFixed(2);
            }
        });
    </script>
</body>
</html>
