<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informes</title>
    <link rel="stylesheet" href="/img/styles/informes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</head>
<body>
    <div class="container p-4">
        <div class="container2 mt-4 p-3 mb-4 bg-body rounded">
            
            <table id="tablaArticulos" class="table mt-2 table-bordered table-striped">
                <thead class="bg-dark text-white">
                    <tr class="text-center">
                        <th>NOMBRE</th>
                        <th>ATRIBUTO</th>
                        <th>TIPO</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr style="text-align: center;">
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    
                </tbody>
            </table>  
        </div>
    </div>
</body>


    


