<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reportes Regulatorios Prazer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    footer{
        background-color: darkcyan;
        color: white;
        padding: 10px 20px;
        margin-top: auto;
        text-align: center;
    }
  </style>
</head>

<body>
  <div class="content">
    </div>
</body>
 {{#if user}}
<footer>
   
  <h5>Teléfono</h5>
  <h6>312-695-0222</h6>
  <h5>Dirección</h5>
  <h6>Calle 82 #50A - 48. Santa María, Itagüí</h6>
  
</footer>
{{/if}}
</html>