{{#if message}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                Swal.fire({
                    icon: 'error',
                    title: '{{message}}',
                    confirmButtonText: '¡Entendido!'
                });
            }, 2000); // 3000 milisegundos = 3 segundos
        });
    </script>

</body>  

{{/if}}

{{#if success}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                Swal.fire({
                    icon: 'success',
                    title: '{{success}}',
                    showConfirmButton: false,
                    timer: 2000
                })
            }, 2000); // 3000 milisegundos = 3 segundos
        });
    </script>

</body> 
{{/if}}


{{!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>

    <script>
        //document.addEventListener('DOMContentLoaded', function() {
            //setTimeout(function() {
                Swal.fire({
                    //icon: 'info',
                    //title: 'Resumen de su pedido:',
                    //text: 'Productos'
                })
            }, 3000); // 3000 milisegundos = 3 segundos
        });
    </script>

</body>  --}}