body {
  background-color: white;
}

.container2 {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 50px auto;
  background-color: #edead1;
}

.card {
  background-color: #edead1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 50px auto;
  text-align: center;
}

.card-body {
  background-color: #edead1;
}

@media (max-width: 768px) {
  .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-x: auto;
      display: block;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.flex-container .btn,
.flex-container .form-control {
  margin: 0;
}